{$modules.head}

	<div class="block">
		<div class="inner-block" align="center">
		    <h2 class="title">Benvigut a The Zoo Gallery</h2>
            <img src="{$url.global}/imag/monkey1.jpg" >
            <br><br>
            <a href="{$url.global}/gallery">Entrar a la galeria</a>
            <br><br>
        </div>
	</div>

<div class="clear"></div>

{$modules.footer}