
<h2 class="title">{$marmotName}</h2>
<div class="photos">
    {   if !$finalMarmot}
        <img class="secundaria" src="{$marmotURL_0}">
        <img class="principal" src="{$marmotURL_1}">
        <img class="secundaria" src="{$marmotURL_2}">
    {   else}
        <p>No hi han més fotos de marmotes!</p>
    {   /if}
</div>
<br><br>
