
<h2 class="title">{$monkeyName}</h2>
<div class="photos">
    {   if !$finalMonkey}
        <img class="secundaria" src="{$monkeyURL_0}">
        <img class="principal" src="{$monkeyURL_1}">
        <img class="secundaria" src="{$monkeyURL_2}">
    {   else}
        <p>No hi han més fotos de micos!</p>
    {   /if}

</div>
<br><br>

